<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img
      class="repo-img-light" height="180em"
      alt="{{ include.username }}"
      src="https://github-readme-stats-eight-theta.vercel.app/api?username=omarelweshy&theme={{ site.repo_theme_light }}&show_icons=true&include_all_commits=true&count_private=true&hide_border=true"
    >
    <img
      class="repo-img-dark" height="180em"
      alt="{{ include.username }}"
      src="https://github-readme-stats-eight-theta.vercel.app/api?username=omarelweshy&theme={{ site.repo_theme_dark }}&show_icons=true&include_all_commits=true&count_private=true&hide_border=true"
    >
  </a>
</div>

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img
      class="repo-img-light" height="180em"
      alt="{{ include.username }}"
      src="https://github-readme-stats-eight-theta.vercel.app/api/top-langs/?username=omarelweshy&theme={{ site.repo_theme_light }}&layout=compact&langs_count=10&hide_border=true"
    >
    <img
      class="repo-img-dark" height="180em" 
      alt="{{ include.username }}"
      src="https://github-readme-stats-eight-theta.vercel.app/api/top-langs/?username=omarelweshy&theme={{ site.repo_theme_dark }}&layout=compact&langs_count=10&hide_border=true"
    >
  </a>
</div>
